@media screen and (max-width: 950px) {
  .wrap-template {
    grid-template-columns: 1fr 60px;
  }

  .wrap-template-target {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --content-grid-sm: 110px;
  }

  .wrap-template-wrap {
    padding: 0px 5px 0px;
  }
}
